---
import Logo from "../components/Logo.astro";
---

<footer class="p-4 bg-gray-500 md:p-8 lg:p-10 mt-5">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="#"
      class="flex justify-center items-center text-2xl font-semibold text-white"
    >
      <Logo />
    </a>
    <p class="my-6 text-gray-200">
      Nthusiast club fundado en 2021 por un grupo de gente que comparte marca y
      pasión por el mundo del motor.
    </p>
    <ul
      class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white"
    >
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Sobre Nosotros</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Sponsors</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Únete a nosotros</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Contacta</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="#" class="hover:underline">Nthusiast Club</a>. All
      Rights Reserved. - Created by Fernando Urrutia</span
    >
  </div>
</footer>
