---

---

<section
  class="bg-gray-300 w-full flex justify-center items-center pt-10 pb-10 px-10 mt-10"
>
  <div class="">
    <div
      class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6 dark:text-gray-400"
    >
      <a class="flex items-center lg:justify-center" target="_blank">
        <img
          class="h-12 hover:scale-110"
          src="https://www.wagner-tuning.com/assets/img/shop/logo.png"
          alt=""
        />
      </a>
      <a class="flex items-center lg:justify-center" target="_blank">
        <img
          class="h-12 hover:scale-110"
          src="https://mt-tuning.net/files/oneo/img/mainlogo.png"
          alt=""
        />
      </a>
      <a class="flex items-center lg:justify-center" target="_blank">
        <img
          class="h-12 hover:scale-110"
          src="https://sprinttrackleague.com/wp-content/uploads/2024/01/Amsoil-1536x606.png"
          alt=""
        />
      </a>
      <a class="flex items-center lg:justify-center" target="_blank">
        <img
          class="h-12 hover:scale-110"
          src="https://seeklogo.com/images/K/KW_Suspensions-logo-00A51768D7-seeklogo.com.png"
          alt=""
        />
      </a>
      <a class="flex items-center lg:justify-center" target="_blank">
        <img
          class="h-12 hover:scale-110"
          src="https://www.litchfieldmotors.com/wp-content/uploads/pagid-racing-logo.png"
          alt=""
        />
      </a>
      <a class="flex items-center lg:justify-center" target="_blank">
        <img
          class="h-12 hover:scale-110"
          src="https://seeklogo.com/images/F/Ferodo-logo-CD4AC12242-seeklogo.com.png"
          alt=""
        />
      </a>
    </div>
  </div>
</section>
