---

---

<div class="intro-bg pt-14 lg:px-8">
  <div
    class="absolute -top-40 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
  </div>
  <div class="mx-auto max-w-3xl py-32 sm:py-48 lg:py-56 px-2">
    <div class="hidden sm:mb-16 sm:flex sm:justify-center">
      <div
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white font-bold ring-1 bg-yellow-400 ring-gray-900/10 hover:ring-gray-900/20"
      >
        The web is under construction
      </div>
    </div>
    <div class="text-center">
      <h1
        class="text-2xl font-bold tracking-tight text-gray-900 sm:text-5xl flex flex-row items-center justify-center"
      >
        <span>Welcome to</span>
        <img
          src="https://r2.nthusiast.es/LogoN.png"
          class="h-8 sm:h-12 px-3 mt-1"
        />
        <span>community</span>
      </h1>
      <p class="mt-6 sm:text-lg text-sm leading-8 text-gray-900">
        We are a community of Hyundai N Cars enthusiasts. We share our passion
        for the brand and the cars. We organize events, share our experiences
        and help each other with technical issues. Join us and be part of the
        community.
      </p>
    </div>
  </div>
</div>
<script>
  // random from 1 to 2
  const randomImage = Math.floor(Math.random() * 3);
  const images = [
    "https://r2.nthusiast.es/i30N.webp",
    "https://r2.nthusiast.es/i30n2.webp",
    "https://r2.nthusiast.es/i30n3.webp",
  ];

  const image = images[randomImage];

  // load image in intro-bg
  document.querySelector(".intro-bg").style.background = `
  linear-gradient(
    180deg,
    rgba(34, 185, 250, 0.799) 0%,
    rgba(255, 255, 255, 0.31) 20%,
    rgba(255, 255, 255, 0.31) 90%,
    rgb(255, 255, 255) 100%
  ),
    url(${image}
  `;
</script>
<style>
  .intro-bg {
    background-size: cover !important;
    background-position: center !important;
  }
</style>
